# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Library/metadata/46/46a7ed0d22fd16e429b4c82821f498ca
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/metadata/00/00000000000000001000000000000000
Library/metadata/00/00000000000000002000000000000000
Library/metadata/00/00000000000000003000000000000000
Library/metadata/00/00000000000000004000000000000000
Library/metadata/00/00000000000000004100000000000000
Library/metadata/00/00000000000000005000000000000000
Library/metadata/00/00000000000000005100000000000000
Library/metadata/00/00000000000000006000000000000000
Library/metadata/00/00000000000000006100000000000000
Library/metadata/00/00000000000000007000000000000000
Library/metadata/00/00000000000000008000000000000000
Library/metadata/00/00000000000000009000000000000000
Library/metadata/00/0000000000000000a000000000000000
Library/metadata/00/0000000000000000b000000000000000
Library/metadata/00/0000000000000000c000000000000000
Library/metadata/02/02fe78e962405814a83b8ba6c9471d32
Library/metadata/10/1091a0b75c8b4c24780625b2a21688b2
Library/metadata/13/13158c8c711c60540827e8d60a81b03f
Library/metadata/35/35190b2a0ec920c458fb10d89a8d1b92
Library/metadata/36/366394897d398c642af953b05a65dc76
Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f
Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6
Library/metadata/52/527a67b3ac862914f8dc72a7b0f1b2c1
Library/metadata/52/529cf27a85e447a4e90beb94da7434ae
Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21
Library/metadata/76/7628758757c48a74d8af18c737088e3a
Library/metadata/7d/7d393723a8dd8c24989fd73836a59d7a
Library/metadata/87/87fcebfa548a34e489c424819eda931f
Library/metadata/8f/8fa1b6210429cbc42b1ed06b320d7539
Library/metadata/a0/a0d782888a00a2546b7ce742d132b6dc
Library/metadata/a3/a3310e24135607648937a4f74e297e63
Library/metadata/c5/c53d7f0028c2a474ea9135dd6285eb7e
Library/metadata/cb/cb9c83955a0db504282e9e7db9b8004a
Library/metadata/fc/fc5a398a4f9b8e64cb2b57bb735ae363
Library/metadata/ff/ffe995176ab345642afe563fd1639184
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/CompilationCompleted.txt
Library/ScriptMapper
Library/ShaderCache.db
Library/UnityAssemblies/UnityEditor.dll
Library/UnityAssemblies/UnityEditor.xml
Library/UnityAssemblies/UnityEngine.dll
Library/UnityAssemblies/UnityEngine.xml
Library/UnityAssemblies/version.txt
obj/Debug/Assembly-CSharp-Editor.dll
obj/Debug/Assembly-CSharp-Editor.pdb
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/UnityVS.FinalFantasyTest.CSharp.csproj.FileListAbsolute.txt
obj/Debug/UnityVS.FinalFantasyTest.CSharp.csprojResolveAssemblyReference.cache
obj/Debug/UnityVS.FinalFantasyTest.CSharp.Editor.csproj.FileListAbsolute.txt
obj/Debug/UnityVS.FinalFantasyTest.CSharp.Editor.csprojResolveAssemblyReference.cache
Temp/UnityLockfile
Temp/UnityTempFile-0a702180d13da004c80cabd935a39502
Temp/UnityTempFile-0c863449b7eb7ff429e5d7631ca263eb
Temp/UnityTempFile-1427d4f91b8d045418fc70789f2d36e6
Temp/UnityTempFile-1dde3f82f490956409d894042f131021
Temp/UnityTempFile-5802c342d49da674a9bd6972229cb8a7
Temp/UnityTempFile-5afa2b4774eeee249994abbc971b31fa
Temp/UnityTempFile-6140b98582bf059429dedece0e303c75
Temp/UnityTempFile-726a66108b6578846a4f6da0386bb7d3
Temp/UnityTempFile-7c90e5c335579054e95ee406784e309e
Temp/UnityTempFile-92e8446f7478d174ba712f0128322eef
Temp/UnityTempFile-9d2c85bd80d47884fb1938e28c68999d
Temp/UnityTempFile-b7e53f9ad79b3ed40bcb0df7bcac1698
Temp/UnityTempFile-c4ef8c887a392cd4fb16a5fc786ccb5d
Temp/UnityTempFile-d438291be72a9ec4b86025f22ae8b8f4
Temp/UnityTempFile-f98bc49209df0bf43adf0be5b85ab7a2
Temp/UnityVS_bin/Debug/Assembly-CSharp.pdb
Temp/UnityVS_bin/Debug/Assembly-CSharp.dll
Temp/UnityVS_bin/Debug/UnityEditor.dll
Temp/UnityVS_bin/Debug/UnityEditor.xml
Temp/UnityVS_bin/Debug/UnityEngine.dll
Temp/UnityVS_bin/Debug/UnityEngine.xml
Temp/__EditModeScene
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Warning.png